.character_card {

  width: 18.2rem;
  height: 80vh;
  margin-bottom: 1rem;
  background-image: url("../img/cadre_brush.png");
  background-repeat: no-repeat;
  background-size: 18rem 30rem;
  background-position: 0rem 1.4rem;
  

  .character_card_content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url("../img/brush_input.png");
    background-repeat: no-repeat;
    background-size: 16rem 8rem;
    background-position: 16px 170px;
    .image_card {
      z-index: 2;
      transform: translateY(40px);

      img {
        width: 12rem;
        height: 12rem;
        border-radius: 4px;
        border: 1px solid rgb(237, 27, 37);
        box-shadow: 0px 6px 8px 0px #808080;
      }
    }
    .infos_card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem 2rem 1rem 2rem;
 

      .name {
        text-align: center;
        font-family: "Bangers", cursive;
        margin-bottom: 0.4rem;
        width: 20vw;
        height: 8vh;
        strong {
          font-size: 2rem;
          color: #302f2f;
        }
      }
      .description {
        font-family: "Trade Winds", cursive;
        height: 18vh;
        overflow: scroll;
        .hero_description {
          width: 10rem;
        }
      }
      .no_description {
        font-family: "Trade Winds", cursive;
        height: 18vh;
        overflow: scroll;
        .no_hero_description {
          width: 10rem;
        }
      }
      a {
        text-decoration: none;
        color: #fff;
        border: 2px solid black;
        border-radius: 8px;
        padding: 0.6rem 2rem;
        margin-top: 1.8rem;
        background-color: rgb(237, 27, 37);

        &:hover {
          box-shadow: 0px 8px 12px 0px inset #313131cb;;
          background-color: #808080;
   
          border: 2px solid #3b3a39cb;
          color: #f7f7f7;
          text-shadow: 1px 2px 1px #3b3a39cb;
        }
      }
    }
  }
}
