.character_card {

  width: 18.2rem;
  height: 80vh;
  margin-bottom: 1rem;
  background-image: url("../img/new_border_brush.png");
  background-repeat: no-repeat;
  background-size: 18rem 24rem;
  background-position: 0rem 5rem;
  

  .character_card_content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url("../img/brush_input.png");
    background-repeat: no-repeat;
    background-size: 16rem 8rem;
    background-position: 16px 170px;
    .image_card {
      z-index: 2;
      transform: translateY(40px);

      img {
        width: 12rem;
        height: 12rem;
        border-radius: 4px;
        border: 1px solid rgb(237, 27, 37);
        box-shadow: 0px 6px 8px 0px #808080;
      }
    }
    .infos_card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem 2rem 1rem 2rem;
 

      .name {
        text-align: center;
        font-family: "Bangers", cursive;
        margin-bottom: 0.4rem;
        width: 20vw;
        height: 8vh;
        strong {
          font-size: 2rem;
          color: #302f2f;
        }
      }
      .description {
        font-family: "Trade Winds", cursive;
        height: 18vh;
        overflow: scroll;
        .hero_description {
          width: 10rem;
        }
      }
      .no_description {
        font-family: "Trade Winds", cursive;
        height: 18vh;
        overflow: scroll;
        .no_hero_description {
          width: 10rem;
        }
      }
      .hero_btn {
        width: 16rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        .card-char-btn {
      text-decoration: none; 
      font-family: "Trade Winds", cursive;
      color: #302f2f;
      background-color: #f5f4f4ef;
      border: none;
      padding: 0 1rem;
      border: 2px solid #737373;
    

        &:hover {
          box-shadow: 0px 4px 10px 2px #888787a4 inset;
          color: #f6f5f4;
          background-color: #737373;
          border: 2px solid #737373;
          text-shadow: 1px 2px 1px #3b3a39cb;
        }
      }
      .to_comics {
        width: 12vw;
        font-size: 1.4rem;
        height: 2.8rem;
        border-radius: 50px 0 0 50px;
          border-right: none;
        padding: 0.3rem 2.4rem 0rem;
      }

      .to_favorites {
      
      
      width: 4vw;
      height: 3.2rem;
      padding: 0.5rem 0.4rem;
      border-radius: 0 50px 50px 0;

        img {
          transform: translate(-0.2rem, -0.2rem);
        }
      }
    }
      }
      
  }
}
